**/*.md
**/.gitkeep
**/.vscode
.dockerignore
.editorconfig
.env*
.eslintrc.js
.git
.gitconfig
.github
.gitignore
.pnpm-store
.husky
.npmrc
.next
.prettierignore
.vscode
.bookshelf-migration-lab
**/*.key
**/*.p12
**/*.pfx
**/*.pem
charts
config
cypress
dist
Dockerfile*
artifacts
coverage
compose.yaml
gen-docs
docs/*
LICENSE
node_modules
report.xml
public/os_logo_filled.png
public/preview.jpg
stylelint.config.js
